.idea/
.vscode/
*.iml
*.class
*.log
*.swp
*.swo
*.DS_Store
*.bak
*.tmp
*.out

mvnw
mvnw.cmd
target/
build/
.gradle/
.mvn/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
dependency-reduced-pom.xml
release.properties

*.log
logs/
*.pid
*.seed
*.sync
